* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: #39231c;
  color: #f4efeb;
}
.title {
  color: f4efeb;
}
.titlebar {
  margin-left: 20px;
}
.sub {
  color: f4efeb;
  margin-right: 210px;
}
.navi {
  margin-left: 20px;
  padding-top: 40px;
}
div .sub {
  font-weight: normal;
}
.navi a:link {
  text-decoration: none;
  color: #f4efeb;
}
.navi a:visited {
  color: #f4efeb;
}
.navi a:hover {
  color: #f4efeb;
}
.navi a:active {
  color: #f4efeb;
}
